# Mac
*.DS_Store
dustbin/*

# IDEs
.idea/

# Hugo
/resources/
public/
assets/jsconfig.json
content/publication/2024-06-arXiv-DenoDetV1/cite.bib
content/publication/2024-06-TAES-DenoDetV1/cite.bib
content/publication/2024-06-arXiv-DenoDetV1/cite.bib
content/publication/2024-06-TAES-DenoDetV1/cite.bib
